.background {
  min-width: 100vw;
  min-height: calc(100vh - 6.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $large-desktop) {
  .background {
    background-position: right center;
    background-size: 65%;
    min-width: calc(100% - 35%);
    min-height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
