header {
  background-color: $white;
  width: 100%;
}

.navigation {
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 6.6rem;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &--image {
      width: 2.5rem;
    }
    &--text {
      opacity: 0;
    }
  }

  &__choice {
    display: flex;
  }

  &__choice > a {
    text-decoration: none;
    color: $grey;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  &__choice > a:not(:last-child) {
    margin-right: 2rem;
  }
}

@media (max-width: $narrow-screen) {
  .navigation {
    padding: 0 1rem; //changed

    &__logo {
      &--image {
        width: 2rem; //changed
      }
    }

    &__choice > a {
      font-size: 1.2rem; //changed
      line-height: 1.6rem; //changed
    }
    &__choice > a:not(:last-child) {
      margin-right: 1rem; //changed
    }
  }
}

@media (min-width: $small-desktop) {
  header {
    position: absolute; //new
    width: auto; //new
    top: 8rem; //new
    left: 3rem; //new
  }

  .navigation {
    background-color: transparent; //changed
    width: 36rem; //new
    height: 4rem; //changed
    padding: 0; //changed

    &__logo {
      &--image {
        padding-bottom: 1.2rem; //new
      }
      &--text {
        opacity: 1; //changed
        margin-left: 1.2rem; //new
      }
    }

    &__choice > a:not(:last-child) {
      margin-right: 1.5rem; //changed
    }
  }
}
@media (min-width: $large-desktop) {
  header {
    top: 11rem; //changed
    left: 10rem; //changed
  }

  .navigation {
    width: 48rem; //changed

    &__logo {
      &--text {
        margin-left: 1.5rem; //changed
      }
    }
    &__choice > a {
      font-size: 1.6rem; //changed
      line-height: 2.6rem; //changed
    }
    &__choice > a:not(:last-child) {
      margin-right: 3rem; //changed
    }
  }
}
