header {
  background-color: $white;
}

.navigation {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  height: 6.6rem;

  &__image {
    height: 4rem;
    width: 2.5rem;
  }

  &__choice {
    display: flex;
  }

  &__choice > a {
    text-decoration: none;
    color: $grey;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  &__choice > a:not(:last-child) {
    margin-right: 2rem;
  }
}
