.newsletter {
  background: linear-gradient(180deg, $white 0%, $light-blue 100%);
  height: 37.1rem;
  width: 33.5rem;
  margin: 2rem auto;

  &__form {
    padding: 3rem 2rem;

    &--heading {
      font-size: 2.4rem;
      line-height: 3.4rem;
      color: $heading-color;
      font-weight: 400;
      margin: 0;
    }
    &--subheading {
      font-size: 1.4rem;
      line-height: 2.6rem;
      color: $subheading-color;
      margin: 1rem auto 0;
    }
    &--email {
      height: 6rem;
      width: 29.5rem;
      color: $subheading-color;

      background: $white;
      border: 1px solid $light-grey;
      border-left: 0.4rem solid $blue;

      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 2rem auto;

      &-input {
        outline: none;
        background: $white;
        flex-grow: 1;
        border: none;
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding-left: 1.9rem;
        color: $grey;
      }
      &-button {
        outline: none;
        background: $white;
        border: none;
        width: 4.9rem;
        height: 100%;

        img {
          width: 2.4rem;
        }
      }
    }
    &--checkbox {
      height: 2.8rem;
      width: 29.5rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-choice {
        position: relative;

        &-input {
          width: 2.6rem;
          height: 2.6rem;

          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $blue;
          opacity: 0;

          &-span {
            display: inline-grid;
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 0.3rem;
            background-color: $light-grey;
          }
        }

        &-input:checked {
          opacity: 1;
        }
      }

      &-label {
        font-size: 1.6rem;
        margin-left: 1.5rem;
        line-height: 2.8rem;
        color: $grey;

        span {
          color: black;
          border-bottom: 0.1rem solid black;
        }
      }
    }

    &--icons {
      height: 100%;
      padding: 0 4.8rem 0 3.3rem;

      &-structure {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        width: 21.4rem;
      }
    }
  }
}

@media (max-width: $narrow-screen) {
  .newsletter {
    height: 33rem; //changed
    width: 26rem; //changed

    &__form {
      &--heading {
        font-size: 2rem; //changed
        line-height: 3rem; //changed
      }
      &--subheading {
        font-size: 1.2rem; //changed
        line-height: 2.3rem; //changed
      }
      &--email {
        height: 4rem; //changed
        width: 22rem; //changed

        &-input {
          font-size: 1.2rem; //changed

          padding-left: 0.8rem; //changed
        }
        &-button {
          width: 2rem; //changed

          img {
            width: 1rem; //changed
          }
        }
      }
      &--checkbox {
        height: 2rem; //changed
        width: 22rem; //changed

        &-choice {
          &-input {
            width: 2rem; //changed
            height: 2rem; //changed

            &-span {
              width: 2rem; //changed
              height: 2rem; //changed
            }
          }
        }

        &-label {
          font-size: 1.3rem; //changed
        }
      }

      &--icons {
        padding: 0 2rem; //changed

        &-structure {
          width: 100%; //changed

          img {
            //new
            width: 3.5rem; //new
          }
        }
      }
    }
  }
}
@media (min-width: $small-desktop) {
  .newsletter {
    background: transparent; //changed
    height: 37.1rem; //changed
    width: 30rem; //changed

    position: absolute; //new
    left: 7rem; //new
    top: 50%; //new
    transform: translateY(-50%); //new
    &__form {
      padding: 0rem 0rem; //changed

      &--heading {
        font-size: 2.8rem; //changed
        line-height: 4rem; //changed
      }
      &--subheading {
        font-size: 1.5rem; //changed
        line-height: 2.6rem; //changed
        margin: 1.5rem auto 0; //changed
      }
      &--email {
        width: 44rem; //changed

        margin: 3rem auto; //changed
        margin-left: -4rem; //new

        &-input {
          padding-left: 4.4rem; //changed
        }
        &-button {
          width: 5.3rem; //changed

          img {
            float: left; //new
          }
        }
      }
      &--checkbox {
        margin-bottom: 5rem; //changed
      }

      &--icons {
        padding: 0; //changed
        width: 100%; //new

        &-structure {
          margin: 5rem auto 0; //new
          width: 24.4rem; //changed
        }
      }
    }
  }
}
@media (min-width: $large-desktop) {
  .newsletter {
    height: 37.1rem; //changed
    width: 40rem; //changed

    left: 14rem; //changed

    &__form {
      &--heading {
        font-size: 3.2rem; //changed
        line-height: 4.4rem; //changed
      }
      &--subheading {
        font-size: 1.6rem; //changed
        line-height: 2.8rem; //changed

        margin: 1.5rem auto 0; //changed
      }
      &--email {
        height: 7rem; //changed
        width: 66rem; //changed

        margin: 5rem auto; //changed
        margin-left: -4rem; //new

        &-input {
          padding-left: 4.4rem; //changed
        }
        &-button {
          width: 8.3rem; //changed

          img {
            float: left; //new
          }
        }
      }
    }
  }
}
