.newsletter {
  background: linear-gradient(180deg, $white 0%, $light-blue 100%);
  height: 37.1rem;
  width: 33.5rem;
  margin: 2rem auto;

  &__form {
    padding: 3rem 2rem;

    &--heading {
      font-size: 2.4rem;
      line-height: 3.4rem;
      color: $dark-blue;
      font-weight: 400;
      margin: 0;
    }
    &--subheading {
      font-size: 1.4rem;
      line-height: 2.6rem;
      color: $grey;
      margin: 1rem auto 0;
    }
    &--email {
      margin: 2rem auto;
      position: relative;
      &-input {
        width: 29.5rem;

        height: 6rem;
        outline: none;
        border: 1px solid $light-grey;
        border-left: 4px solid $blue;
        padding-left: 1.6rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        box-sizing: border-box;
      }
      &-button {
        position: absolute;
        right: 0;
        top: 0;

        background-color: transparent;
        border: none;
        height: 6rem;
        margin-right: 1rem; //changed

        svg path {
          fill: $dark-blue;
        }
      }

      &-input:hover {
        box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
      }
      &-input:focus {
        box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
        border: 1px solid $blue;
        border-left: 4px solid $blue;
      }
      &-input:focus ~ &-button {
        svg path {
          fill: $blue;
          opacity: 1;
        }
      }
    }

    &--checkbox {
      height: 2.8rem;
      width: 29.5rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-choice {
        input[type="checkbox"] {
          position: relative;
          width: 2.6rem;
          height: 2.6rem;
          color: $blue;
          border: 0.1rem solid $light-grey;
          border-radius: 3px;
          appearance: none;
          outline: 0;
          cursor: pointer;
          transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
          &::before {
            position: absolute;
            content: "";
            display: block;
            top: 0.3rem;
            left: 0.8rem;
            width: 6px;
            height: 14px;
            border-style: solid;
            border-color: $white;
            border-width: 0 2px 2px 0;
            border-radius: 0.2rem;
            transform: rotate(45deg);
            opacity: 0;
          }
          &:checked {
            color: $white;
            border-color: $blue;
            background: $blue;
            &::before {
              opacity: 1;
            }
            ~ label::before {
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
          }
        }
      }

      &-label {
        font-size: 1.6rem;
        margin-left: 1.5rem;
        line-height: 2.8rem;
        color: $grey;

        span {
          color: $dark-blue;
          border-bottom: 0.1rem solid $dark-blue;
        }
        span:hover {
          color: $blue;
          border-bottom: 0.1rem solid $blue;
        }
        span:active {
          color: #233759;
          border-bottom: 0.1rem solid #233759;
        }
      }
    }

    &--icons {
      height: 100%;
      padding: 0 4.8rem 0 3.3rem;

      &-structure {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        width: 21.4rem;

        a svg {
          border-radius: 50%;
        }
        a svg:hover,
        a svg:active {
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
        }
        a svg:hover path {
          fill: $white;
          opacity: 1;
        }

        a #facebook:hover {
          fill: #4267b2;

          circle {
            stroke: #4267b2;
          }
        }
        a #facebook:active {
          fill: #2f4a80;

          circle {
            stroke: #2f4a80;
          }
        }
        a #instagram:hover {
          fill: #c13584;

          circle {
            stroke: #c13584;
          }
        }
        a #instagram:active {
          fill: #8f2762;

          circle {
            stroke: #8f2762;
          }
        }
        a #twitter:hover {
          fill: #1da1f2;

          circle {
            stroke: #1da1f2;
          }
        }
        a #twitter:active {
          fill: #177fbf;

          circle {
            stroke: #177fbf;
          }
        }
        a #youtube:hover {
          fill: #ff0000;

          circle {
            stroke: #ff0000;
          }
        }
        a #youtube:active {
          fill: #cc0000;

          circle {
            stroke: #cc0000;
          }
        }
      }
    }
  }
}

@media (max-width: $narrow-screen) {
  .newsletter {
    height: 33rem; //changed
    width: 26rem; //changed

    &__form {
      &--heading {
        font-size: 2rem; //changed
        line-height: 3rem; //changed
      }
      &--subheading {
        font-size: 1.2rem; //changed
        line-height: 2.3rem; //changed
      }

      &--email {
        &-input {
          width: 22rem; //changed
          height: 4rem; //changed

          padding-left: 0.8rem; //changed
          font-size: 1.2rem; //changed
        }
        &-button {
          height: 4rem; //changed

          svg {
            width: 1.8rem; //new
          }
        }
      }
      &--checkbox {
        height: 2rem; //changed
        width: 22rem; //changed

        &-choice {
          &-input {
            width: 2rem; //changed
            height: 2rem; //changed

            &-span {
              width: 2rem; //changed
              height: 2rem; //changed
            }
          }
        }

        &-label {
          font-size: 1.3rem; //changed
        }
      }

      &--icons {
        padding: 0 2rem; //changed

        &-structure {
          width: 100%; //changed

          svg {
            //new
            width: 3rem; //new
          }
        }
      }
    }
  }
}
@media (min-width: $small-desktop) {
  .newsletter {
    background: transparent; //changed
    height: 37.1rem; //changed
    width: 30rem; //changed

    position: absolute; //new
    left: 7rem; //new
    top: 50%; //new
    transform: translateY(-50%); //new
    &__form {
      padding: 0rem 0rem; //changed

      &--heading {
        font-size: 2.8rem; //changed
        line-height: 4rem; //changed
      }
      &--subheading {
        font-size: 1.6rem; //changed
        line-height: 2.6rem; //changed
        margin: 1.5rem auto 0; //changed
      }

      &--email {
        margin: 3rem auto; //changed
        margin-left: -4rem; //new
        width: 44rem; //new
        &-input {
          width: 44rem; //changed
          height: 5rem; //changed
          font-size: 1.6rem; //changed
          padding-left: 4rem;
        }
        &-button {
          height: 5rem; //changed
          margin-right: 1.5rem; //changed

          svg {
            width: 2.4rem; //new
          }
        }
      }
      &--checkbox {
        margin-bottom: 5rem; //changed
      }

      &--icons {
        padding: 0; //changed
        width: 100%; //new

        &-structure {
          margin: 5rem auto 0; //new
          width: 24.4rem; //changed
        }
      }
    }
  }
}
@media (min-width: $large-desktop) {
  .newsletter {
    height: 37.1rem; //changed
    width: 40rem; //changed

    left: 14rem; //changed

    &__form {
      &--heading {
        font-size: 3.2rem; //changed
        line-height: 4.4rem; //changed
      }
      &--subheading {
        font-size: 1.6rem; //changed
        line-height: 2.8rem; //changed

        margin: 1.5rem auto 0; //changed
      }

      &--email {
        margin: 5rem auto; //changed
        margin-left: -4rem; //repeat
        width: 66rem; //changed
        &-input {
          width: 66rem; //changed
          height: 7rem; //changed
          // font-size: 1.7rem; //changed
        }
        &-button {
          height: 7rem; //changed
          margin-right: 3rem; //changed
        }
      }
    }
  }
}
