.newsletter {
  background: linear-gradient(180deg, $white 0%, $light-blue 100%);
  height: 37.1rem;
  width: 33.5rem;
  margin: 2rem auto;

  &__form {
    padding: 3rem 2rem;

    &--heading {
      font-size: 2.4rem;
      line-height: 3.4rem;
      color: $dark-blue;
      font-weight: 400;
      margin: 0;
    }
    &--subheading {
      font-size: 1.4rem;
      line-height: 2.6rem;
      color: $grey;
      margin: 1rem auto 0;
    }
    &--email {
      margin: 2rem auto;
      position: relative;
      &-input {
        width: 29.5rem;
        height: 6rem;
        outline: none;
        border: 1px solid $light-grey;
        border-left: 4px solid $blue;
        padding-left: 1.9rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        box-sizing: border-box;
      }
      &-button {
        position: absolute;
        right: 0;
        top: 0;

        background-color: transparent;
        border: none;
        height: 6rem;

        svg path {
          fill: $dark-blue;
        }
      }

      &-input:hover {
        box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
      }
      &-input:focus {
        box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
        border: 1px solid $blue;
        border-left: 4px solid $blue;
      }
      &-input:focus ~ &-button {
        svg path {
          fill: $blue;
          opacity: 1;
        }
      }
    }

    &--checkbox {
      height: 2.8rem;
      width: 29.5rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-choice {
        position: relative;

        &-input {
          width: 2.6rem;
          height: 2.6rem;

          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;

          opacity: 0;

          &-span {
            display: inline-grid;
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 0.3rem;
            background-color: $light-grey;
          }
        }

        &-input:checked {
          opacity: 1;
        }
      }

      &-label {
        font-size: 1.6rem;
        margin-left: 1.5rem;
        line-height: 2.8rem;
        color: $grey;

        span {
          color: black;
          border-bottom: 0.1rem solid black;
        }
      }
    }

    &--icons {
      height: 100%;
      padding: 0 4.8rem 0 3.3rem;

      &-structure {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        width: 21.4rem;
      }
    }
  }
}

@media (max-width: $narrow-screen) {
  .newsletter {
    height: 33rem; //changed
    width: 26rem; //changed

    &__form {
      &--heading {
        font-size: 2rem; //changed
        line-height: 3rem; //changed
      }
      &--subheading {
        font-size: 1.2rem; //changed
        line-height: 2.3rem; //changed
      }

      &--email {
        &-input {
          width: 22rem; //changed
          height: 4rem; //changed

          padding-left: 0.8rem; //changed
          font-size: 1.2rem; //changed
        }
        &-button {
          height: 4rem; //changed

          svg {
            width: 1.8rem; //new
          }
        }
      }
      &--checkbox {
        height: 2rem; //changed
        width: 22rem; //changed

        &-choice {
          &-input {
            width: 2rem; //changed
            height: 2rem; //changed

            &-span {
              width: 2rem; //changed
              height: 2rem; //changed
            }
          }
        }

        &-label {
          font-size: 1.3rem; //changed
        }
      }

      &--icons {
        padding: 0 2rem; //changed

        &-structure {
          width: 100%; //changed

          img {
            //new
            width: 3.5rem; //new
          }
        }
      }
    }
  }
}
@media (min-width: $small-desktop) {
  .newsletter {
    background: transparent; //changed
    height: 37.1rem; //changed
    width: 30rem; //changed

    position: absolute; //new
    left: 7rem; //new
    top: 50%; //new
    transform: translateY(-50%); //new
    &__form {
      padding: 0rem 0rem; //changed

      &--heading {
        font-size: 2.8rem; //changed
        line-height: 4rem; //changed
      }
      &--subheading {
        font-size: 1.6rem; //changed
        line-height: 2.6rem; //changed
        margin: 1.5rem auto 0; //changed
      }

      &--email {
        margin: 3rem auto; //changed
        margin-left: -4rem; //new
        width: 44rem; //new
        &-input {
          width: 44rem; //changed
          height: 5rem; //changed
          font-size: 1.6rem; //changed
          padding-left: 4rem;
        }
        &-button {
          height: 5rem; //changed
          margin-right: 1.5rem; //new

          svg {
            width: 2.4rem; //new
          }
        }
      }
      &--checkbox {
        margin-bottom: 5rem; //changed
      }

      &--icons {
        padding: 0; //changed
        width: 100%; //new

        &-structure {
          margin: 5rem auto 0; //new
          width: 24.4rem; //changed
        }
      }
    }
  }
}
@media (min-width: $large-desktop) {
  .newsletter {
    height: 37.1rem; //changed
    width: 40rem; //changed

    left: 14rem; //changed

    &__form {
      &--heading {
        font-size: 3.2rem; //changed
        line-height: 4.4rem; //changed
      }
      &--subheading {
        font-size: 1.6rem; //changed
        line-height: 2.8rem; //changed

        margin: 1.5rem auto 0; //changed
      }

      &--email {
        margin: 5rem auto; //changed
        margin-left: -4rem; //repeat
        width: 66rem; //changed
        &-input {
          width: 66rem; //changed
          height: 7rem; //changed
          // font-size: 1.7rem; //changed
        }
        &-button {
          height: 7rem; //changed
          margin-right: 3rem; //changed
        }
      }
    }
  }
}
