//colors
$dark-blue: #131821;
$blue: #4066a5;
$light-blue: #f2f5fa;
$grey: #6a707b;
$light-grey: #e3e3e4;
$white: #ffffff;

$heading-color: #131821;
$subheading-color: #6a707b;

//responsiveness
$large-desktop: 1920px;
